<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Reem+Kufi&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6c6dc6001b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>finance.me</title>
</head>

<body class="index">
    <div class="container">
        <header class="display">
            <a href="/"><img src="assets/img/logo.png" draggable="false"></a>
            <ul>
                <li><a href="/"><i class="fas fa-house"></i><span class="title">Home</a></li>
                <li><a href="/contato"><i class="fas fa-phone"></i><span class="title">Contato</span></a></li>
                <li><a href="/sobre"><i class="fas fa-info"></i><span class="title">Sobre</span></a></li>
                <li><a href="/logout"><i class="fas fa-sign-out"></i><span class="title">Logout</span></a></li>
            </ul>
        </header>
    </div>
    <div class="container">

        {{{body}}}
    </div>

</body>

</html>